html {
    height: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
    display: block;
}

body {
    background-color: rgb(29, 27, 31);
    margin: 0;
    min-height: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: rgb(228, 221, 194);
    box-sizing: border-box;
    display: block
}

.inputs{
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.inputs2{
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#good{
	background-color:green;
	border-radius: 5px;
	margin-top: 10px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
#bad{
	background-color:red;
	border-radius: 5px;
	margin-top: 10px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
.descriere_inputs{
	margin-top: 0px;
    font-family: 'Alio text', sans-serif;
    color: rgb(228, 221, 194);
    font-size:16px;

}

.Header {
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    padding: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    background-image: linear-gradient(0deg,#170429,#361753);
}

.Container {
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}
.Container2 {
	max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    content: " ";
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.HeadingContainer {
    padding-right: 21px;
    -webkit-box-ordinal-group: 1;
    order: 0;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
}

.Heading{
    -webkit-box-direction: normal;
    box-sizing: border-box;
    margin: .67em 0;
    line-height: 44px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 22px;
    padding-top: 2px;
    padding-bottom: 9px;
    align-self: auto;
    order: -1;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    font-family: 'Alio text', sans-serif;
    color: rgb(228, 221, 194);
    font-size: 66px;
    font-weight: 400;
    letter-spacing: 7px;
}

h1 {
    line-height: 44px;
}

.NavList {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
    justify-items: stretch;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 0.17;
    flex: 0.17 0 auto;
    list-style-type:none;
    object-fit: fill
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.NavLink {
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    padding: 4px 0px 2px;
    font-family: 'Alio text', sans-serif;
    color: rgb(240, 233, 204);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
}

a{
    background-color: transparent;
    text-decoration: none;
}

a:-weblit-any-link{
    cursor: pointer;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#logb {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
}

#add {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
}

.ListItem {
    margin-left: 0px;
}

.MainButton{
    display: inline-block;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

.Button{
    padding: 12px 11px 8px 14px;
    border-style: none;
    border-color: transparent;
    border-radius: 10px;
    background-color: rgb(6, 6, 7);
    font-family: 'Alio text',sans-serif;
    color: rgb(228, 221, 194);
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#regb {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
}

.Register {
    padding: 10px 9px 6px 12px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(58, 41, 75);
    background-color: transparent;
    color: rgb(228, 221, 194);
}

#logout {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
}

.Logout {
    padding: 10px 9px 6px 12px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(58, 41, 75);
    background-color: transparent;
    color: rgb(228, 221, 194);
}

.MyFeedContainer{
    padding-top: 8px;
}

.Heading2 {
    margin-top: 0px;
    font-family: 'Alio text', sans-serif;
    color: rgb(228, 221, 194);
    font-size:23px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

div{
    display: block;
}

.Recipe {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction:  row;
    -webkit-box-pack:  justify;
    justify-content: space-between;
}

figure {
    margin: 0;
    margin-bottom: 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.Image {
    width: 200px;
    height: 100px;
    order: -1;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
}

.RichTextBlock {
    display: flex;
    margin-left: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-family: 'Ruberoid', sans-serif;
    font-weight: 400;
}

.RichTextBlock h3 {
    font-size: 20px;
    font-weight: 500;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 30px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(228, 221, 194);
    -webkit-box-direction: normal;
    font-family: 'Ruberoid', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 10px;
}

.HeaderForm {
    width: auto;
    height: 0%;
    margin-bottom: 0px;
    align-self: center;
    flex: 30%;
    border: 0px none transparent;
    font-family: Arial,sans-serif;
}

.WForm{
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: rgb(228, 221, 194);
    -webkit-box-direction: normal;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: 0px none transparent;
    object-fit: fill;
}

.Form{
    width: 100%;
    height: auto;
    border: 0px none transparent;
    object-fit:fill
}

form{
    display: block;
    margin-top: 0em;
}

.Search{
    -webkit-box-direction: normal;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    display: block;
    line-height: 1.42857143;
    width: 50%;
    height: 37px;
    margin-bottom: 0px;
    padding: 3px 13px;
    border: 0px none transparent;
    border-radius: 5px;
    background-color: #ac9c69;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #272727;
    font-size: 16px;
    font-weight: 300;
}

.Input{
    display: block;
    line-height: 1.42857143;
}


@font-face {
    font-family: "Alio text";
    src: url(fonts/AlioText-Regular.ttf);
}

@font-face {
    font-family: "Ruberoid";
    src: url(fonts/Ruberoid-Regular.otf);
}

.FormDone{
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #dddddd;
}

.FormFail{
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffdede;
}






* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 7%;
  padding: 10px;
  background: rgb(29, 27, 31);;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: rgb(29, 27, 31);;
}

form.example::after {
  content: "";
  clear: both;
  display: table; 
}